@media only screen and (min-width: 1366px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
*{
    margin: 0%;
    color: black;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: white;
}
hr{
    border: 1px solid black;
}

.navbar{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(121, 121, 255, 0.423), rgba(233, 184, 138, 0.693));
    border: 2px solid black;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.menu-icon{
    width: 40px;
    cursor: pointer;
    margin-right: 50px;
}

nav{
    text-align: right;
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover{
    color: pink;
}
.checkout{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background: rgb(245, 245, 245);
}
.checkout h1{
    text-align: left;
    padding-left: 30px;
}
.checkout .shipinfo{
    display: inline-block;
    margin: 2%;
}
.checkout .cardinfo{
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}
fieldset{
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid purple;
    text-align: left;
}
input, label{
    border: 1px solid purple;
    text-align: left;
}
.checkout .cardinfo img{
    width: 70%;
}
.shipinfo form label, input, legend{
    margin-bottom: 15px;
}
.shipinfo form input, select{
    border-radius: 5px 5px 5px 5px;
    width: 75%;
    height: 30px;
}

.cardinfo form input{
    border-radius: 5px 5px 5px 5px;
    height: 30px;
}
legend{
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(rgba(121, 121, 255, 0.933), rgba(233, 184, 138, 0.917));
    border-radius: 6px;
    cursor: pointer;
    transition: width 1s;
    margin-top: 80px;
}
.footer{
    padding: 1%;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    background: rgb(255, 255, 198);
    margin-top: 120px;
    border: 1px solid black;
}